<!-- chat/templates/chat/index.html -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
    <form action="">
    <a href="/logout"> logout</a><br><br><br>
        </form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

{% block contents %}
    WELCOME BACK {{ username }}<br><br>
    What chat room would you like to enter and have a group chat?<br/>
    <input id="room-name-input" type="text" size="100"/><br/>
    <input id="room-name-submit" type="button" value="Enter"/>
{% endblock %}
    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };

        localStorage.setItem('token','{{ token }}');
        localStorage.setItem('username','{{ username }}');
        sessionStorage.setItem('token','{{ token }}');
        sessionStorage.setItem('username','{{ username }}');

         $.ajax({
    url: 'http://127.0.0.1:8000/chat/'+roomName+'/',
    headers: {
        'token':localStorage.getItem('token'),
        'Content-Type':'application/json'
    },
    method: 'POST',
    dataType: 'json',
    success: function(data){
      console.log('success:--> '+data);
    }
  });

    </script>

</body>
</html>